<mat-toolbar color="primary">
  <button mat-button (click)="goHome()"> Home</button>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="getUsers()" color="primary">Persons</button>
  </mat-menu>

</mat-toolbar>
